# Model Inference Milestone 2

## Import Libraries

In [47]:
import numpy as np
import pickle
import random
import pandas as pd

## Load File

In [48]:
# Load All Files
with open('all_process.pkl', 'rb') as file_1:
  all_process = pickle.load(file_1)

## Create DataFrame

In [49]:
# Pengaturan Seed
seed_value = 69
random.seed(seed_value)
np.random.seed(seed_value)

# Generate Data
Curricular_units_2nd_sem_grade = np.random.randint(0, 19, 50)
Curricular_units_1st_sem_grade = np.random.randint(0, 19, 50)
Curricular_units_2nd_sem_approved = np.random.randint(0, 50, 50)
Curricular_units_1st_sem_approved = np.random.randint(0, 26, 50)
Curricular_units_1st_sem_evaluations = np.random.randint(0, 45, 50)
Curricular_units_2nd_sem_evaluations = np.random.randint(0, 33, 50)
Age_at_enrollment = np.random.randint(17, 70, 50)
Application_mode = np.random.randint(1, 18, 50)
Course = np.random.randint(1, 17, 50)

# Membuat DataFrame
data_inf = pd.DataFrame({
    'Curricular units 2nd sem (grade)': Curricular_units_2nd_sem_grade,
    'Curricular units 1st sem (grade)': Curricular_units_1st_sem_grade,
    'Curricular units 2nd sem (approved)': Curricular_units_2nd_sem_approved,
    'Curricular units 1st sem (approved)': Curricular_units_1st_sem_approved,
    'Curricular units 1st sem (evaluations)': Curricular_units_1st_sem_evaluations,
    'Curricular units 2nd sem (evaluations)': Curricular_units_2nd_sem_evaluations,
    'Age at enrollment': Age_at_enrollment,
    'Application mode': Application_mode,
    'Course': Course
})

data_inf

,Curricular units 2nd sem (grade),Curricular units 1st sem (grade),Curricular units 2nd sem (approved),Curricular units 1st sem (approved),Curricular units 1st sem (evaluations),Curricular units 2nd sem (evaluations),Age at enrollment,Application mode,Course
0,11,16,26,7,20,2,62,11,9
1,9,0,14,7,12,20,60,1,14
2,11,17,35,9,16,18,50,11,6
3,17,0,45,1,43,17,60,2,14
4,9,8,27,1,24,13,18,7,7
5,1,14,33,6,0,4,30,15,10
6,6,7,10,9,43,32,62,15,5
7,0,4,46,15,17,28,24,16,3
8,12,9,5,14,24,24,65,15,3
9,5,9,34,15,9,27,64,12,10
10,10,9,49,18,41,0,49,13,3
11,11,18,3,21,20,12,39,1,16
12,3,17,43,3,43,2,47,14,15
13,16,3,41,21,23,9,52,3,7
14,7,1,44,1,8,28,62,10,15
15,2,12,30,22,13,16,41,1,12
16,3,15,28,6,23,1,18,11,4
17,7,6,40,17,9,8,56,12,10
18,15,7,38,1,42,25,69,4,4
19,11,1,28,3,25,14,18,3,11
20,12,5,24,20,4,20,40,8,4
21,3,15,5,14,34,6,29,10,5
22,11,9,3,11,34,26,63,10,9
23,14,0,37,0,25,27,22,13,5
24,17,5,24,16,13,27,32,1,5
25,6,16,34,7,10,17,18,17,7
26,5,7,9,3,14,5,46,15,3
27,12,2,44,21,34,1,42,11,10
28,14,7,25,20,22,16,55,15,11
29,15,16,46,1,19,30,34,10,13
30,14,9,17,25,14,21,20,5,11
31,16,1,4,3,8,16,59,2,15
32,13,0,35,15,42,2,45,7,9
33,16,7,48,19,44,17,60,6,4
34,10,0,34,13,18,8,63,17,10
35,10,13,28,8,27,21,58,7,9
36,18,14,9,16,9,21,26,4,6
37,11,18,22,23,36,8,62,5,16
38,14,11,12,19,26,6,40,12,12
39,17,14,20,0,14,4,20,16,12
40,18,15,29,22,19,12,45,6,12
41,5,10,9,4,20,8,38,11,5
42,12,2,43,9,33,21,58,3,14
43,14,14,46,25,42,3,63,2,15
44,0,13,47,6,24,12,51,10,14
45,13,12,44,15,35,26,52,9,11
46,9,8,0,21,17,16,28,1,16
47,18,0,30,17,1,23,49,16,14
48,14,1,10,21,9,6,22,3,15
49,17,17,49,18,33,6,36,17,2

## Model

In [50]:
y_pred_inf = all_process.predict(data_inf)
y_pred_inf

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1])

In [51]:
# Convert into DataFrame
y_pred_inf_df = pd.DataFrame(y_pred_inf, columns=['Target - Prediction'])
y_pred_inf_df

    Target - Prediction
0                     1
1                     1
2                     1
3                     1
4                     1
5                     1
6                     1
7                     1
8                     1
9                     1
10                    1
11                    1
12                    1
13                    1
14                    1
15                    1
16                    1
17                    1
18                    1
19                    1
20                    1
21                    0
22                    0
23                    1
24                    1
25                    1
26                    1
27                    1
28                    1
29                    1
30                    1
31                    0
32                    1
33                    1
34                    1
35                    1
36                    1
37                    1
38                    1
39                    1
40                    1
41                    0
42                    1
43                    1
44                    1
45                    1
46                    0
47                    1
48                    1
49                    1

In [52]:
# Merge Inference-Set and Prediction
tabel_inference = pd.concat([data_inf, y_pred_inf_df], axis=1)
tabel_inference

,Curricular units 2nd sem (grade),Curricular units 1st sem (grade),Curricular units 2nd sem (approved),Curricular units 1st sem (approved),Curricular units 1st sem (evaluations),Curricular units 2nd sem (evaluations),Age at enrollment,Application mode,Course,Target - Prediction
0,11,16,26,7,20,2,62,11,9,1
1,9,0,14,7,12,20,60,1,14,1
2,11,17,35,9,16,18,50,11,6,1
3,17,0,45,1,43,17,60,2,14,1
4,9,8,27,1,24,13,18,7,7,1
5,1,14,33,6,0,4,30,15,10,1
6,6,7,10,9,43,32,62,15,5,1
7,0,4,46,15,17,28,24,16,3,1
8,12,9,5,14,24,24,65,15,3,1
9,5,9,34,15,9,27,64,12,10,1
10,10,9,49,18,41,0,49,13,3,1
11,11,18,3,21,20,12,39,1,16,1
12,3,17,43,3,43,2,47,14,15,1
13,16,3,41,21,23,9,52,3,7,1
14,7,1,44,1,8,28,62,10,15,1
15,2,12,30,22,13,16,41,1,12,1
16,3,15,28,6,23,1,18,11,4,1
17,7,6,40,17,9,8,56,12,10,1
18,15,7,38,1,42,25,69,4,4,1
19,11,1,28,3,25,14,18,3,11,1
20,12,5,24,20,4,20,40,8,4,1
21,3,15,5,14,34,6,29,10,5,0
22,11,9,3,11,34,26,63,10,9,0
23,14,0,37,0,25,27,22,13,5,1
24,17,5,24,16,13,27,32,1,5,1
25,6,16,34,7,10,17,18,17,7,1
26,5,7,9,3,14,5,46,15,3,1
27,12,2,44,21,34,1,42,11,10,1
28,14,7,25,20,22,16,55,15,11,1
29,15,16,46,1,19,30,34,10,13,1
30,14,9,17,25,14,21,20,5,11,1
31,16,1,4,3,8,16,59,2,15,0
32,13,0,35,15,42,2,45,7,9,1
33,16,7,48,19,44,17,60,6,4,1
34,10,0,34,13,18,8,63,17,10,1
35,10,13,28,8,27,21,58,7,9,1
36,18,14,9,16,9,21,26,4,6,1
37,11,18,22,23,36,8,62,5,16,1
38,14,11,12,19,26,6,40,12,12,1
39,17,14,20,0,14,4,20,16,12,1
40,18,15,29,22,19,12,45,6,12,1
41,5,10,9,4,20,8,38,11,5,0
42,12,2,43,9,33,21,58,3,14,1
43,14,14,46,25,42,3,63,2,15,1
44,0,13,47,6,24,12,51,10,14,1
45,13,12,44,15,35,26,52,9,11,1
46,9,8,0,21,17,16,28,1,16,0
47,18,0,30,17,1,23,49,16,14,1
48,14,1,10,21,9,6,22,3,15,1
49,17,17,49,18,33,6,36,17,2,1

In [53]:
# Mengganti nilai 'Dropout' dengan 0 dan 'Graduate' dengan 1 pada kolom 'Target'
tabel_inference['Target - Prediction'] = tabel_inference['Target - Prediction'].replace({0 : 'Dropout', 1 : 'Graduate'})

## Hasil

In [54]:
# Menampilkan hasil
tabel_inference

,Curricular units 2nd sem (grade),Curricular units 1st sem (grade),Curricular units 2nd sem (approved),Curricular units 1st sem (approved),Curricular units 1st sem (evaluations),Curricular units 2nd sem (evaluations),Age at enrollment,Application mode,Course,Target - Prediction
0,11,16,26,7,20,2,62,11,9,Graduate
1,9,0,14,7,12,20,60,1,14,Graduate
2,11,17,35,9,16,18,50,11,6,Graduate
3,17,0,45,1,43,17,60,2,14,Graduate
4,9,8,27,1,24,13,18,7,7,Graduate
5,1,14,33,6,0,4,30,15,10,Graduate
6,6,7,10,9,43,32,62,15,5,Graduate
7,0,4,46,15,17,28,24,16,3,Graduate
8,12,9,5,14,24,24,65,15,3,Graduate
9,5,9,34,15,9,27,64,12,10,Graduate
10,10,9,49,18,41,0,49,13,3,Graduate
11,11,18,3,21,20,12,39,1,16,Graduate
12,3,17,43,3,43,2,47,14,15,Graduate
13,16,3,41,21,23,9,52,3,7,Graduate
14,7,1,44,1,8,28,62,10,15,Graduate
15,2,12,30,22,13,16,41,1,12,Graduate
16,3,15,28,6,23,1,18,11,4,Graduate
17,7,6,40,17,9,8,56,12,10,Graduate
18,15,7,38,1,42,25,69,4,4,Graduate
19,11,1,28,3,25,14,18,3,11,Graduate
20,12,5,24,20,4,20,40,8,4,Graduate
21,3,15,5,14,34,6,29,10,5,Dropout
22,11,9,3,11,34,26,63,10,9,Dropout
23,14,0,37,0,25,27,22,13,5,Graduate
24,17,5,24,16,13,27,32,1,5,Graduate
25,6,16,34,7,10,17,18,17,7,Graduate
26,5,7,9,3,14,5,46,15,3,Graduate
27,12,2,44,21,34,1,42,11,10,Graduate
28,14,7,25,20,22,16,55,15,11,Graduate
29,15,16,46,1,19,30,34,10,13,Graduate
30,14,9,17,25,14,21,20,5,11,Graduate
31,16,1,4,3,8,16,59,2,15,Dropout
32,13,0,35,15,42,2,45,7,9,Graduate
33,16,7,48,19,44,17,60,6,4,Graduate
34,10,0,34,13,18,8,63,17,10,Graduate
35,10,13,28,8,27,21,58,7,9,Graduate
36,18,14,9,16,9,21,26,4,6,Graduate
37,11,18,22,23,36,8,62,5,16,Graduate
38,14,11,12,19,26,6,40,12,12,Graduate
39,17,14,20,0,14,4,20,16,12,Graduate
40,18,15,29,22,19,12,45,6,12,Graduate
41,5,10,9,4,20,8,38,11,5,Dropout
42,12,2,43,9,33,21,58,3,14,Graduate
43,14,14,46,25,42,3,63,2,15,Graduate
44,0,13,47,6,24,12,51,10,14,Graduate
45,13,12,44,15,35,26,52,9,11,Graduate
46,9,8,0,21,17,16,28,1,16,Dropout
47,18,0,30,17,1,23,49,16,14,Graduate
48,14,1,10,21,9,6,22,3,15,Graduate
49,17,17,49,18,33,6,36,17,2,Graduate